.landing-page-footer{
    background-color: rgb(29, 28, 28);
    color: #dedcdc;
    height: 20rem;
    list-style: none;
    font-size: larger;
    text-align: center;
    padding: 3rem ;
    margin-top: 2rem;
}
.landing-page-footer h1{
    font-size: 42px;
}
.landing-page-footer span{
    background-color: rgb(129, 52, 201);
    padding: 5px;
    border-radius: 50%;
}
.landing-page-footer img{
    color: white;
}

.landing-page-footer .links li{
    display: flex;
    gap: 2rem;
    width: fit-content;
    margin: auto;
}
