
#container {
  width: 100%;
  height: 100vh;
  display: flex;
  position: relative;
  overflow: hidden;
}

#bg {
  /*color: white;*/
  width: 100vw;
  height: 100%;
/*/ / background-image: url('https://images.pexels.com/photos/18431669/pexels-photo-18431669/free-photo-of-market-in-ibadan-city.jpeg?auto=compress&cs=tinysrgb&w=600');*/
  background-size: contain;
  background-image: url('https://i.pinimg.com/236x/76/0e/37/760e37ff004541f8246c2be8985ed6a2.jpg');
/*/ / background-repeat: no-repeat;*/
/*/ / background-size: cover;*/
}


