.landing-page .card-section{
    display: grid;
    grid-template-columns: 1fr 1fr;
    margin: 5rem auto;
    width: fit-content;
    gap: 25px;
}
.landing-page{
    background-color: rgb(252, 248, 248);
}
@media (max-width: 1344px) {
    .landing-page .card-section{
        display: block;
    }

}
