.login-and-signup {
}
.login-and-signup .container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  width: fit-content;
  /* border: 2px solid red; */
  margin: auto;
  margin-top: 2rem;
}
.login-and-signup .nav-btns{
    display: flex;
    justify-content: space-around;
}
.login-and-signup .img-section {
  /* background-color: rgb(199, 207, 225); */
  background-image: linear-gradient(slateblue , purple);
  height: 40rem;
  width: 30rem;
  margin-right: 70px;
}
.login-and-signup .main-content {
  width: 100%;
}
