

.error{
    color: red;
    margin-left: 15px;
}
.sign-up-section {
    width: 60rem;
    height: 40rem;
    box-shadow: 10px 10px 10px 10px rgb(211, 210, 210);
    border-radius: 15px 15px 15px 15px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 8rem;
}
.input-field{
    height: 40rem;
    width: 35rem;
}

.image {
    height: 40rem;
    width: 35rem;
    background-image: linear-gradient(purple, rgb(86, 66, 175));
    display: table-row;
    border-radius: 15px 15px;
}
.bluma-tag{
    color: white;
    margin-top: 100rem;

}
.bluma-tag{
   color: white;
   font-size: 90px;
   font-weight: 100px;
   display: table-cell;
   margin-left: 20rem;
   margin-top: 40rem;
}